*{
    margin: 0;
    padding:0;
}

.container{
    max-width: 80vw;
}
.navbar{
    height: 67px;
}
li{
    list-style: none;
    margin-right: 12px;
}

.dumble{
    max-width: 150px;
    
}
.gym{
    max-height: 90vh;
}
.des-h{
    width: 100%;
    text-align: center;
}
.price{
    width: 25%;
}
.section2{
    min-height: 95vh;
}
.section2 li{
    margin-top: auto;
}
.box{
    min-height: 60vh;
}